CLOUDFLARE_DEPLOY_API_TOKEN=""
CLOUDFLARE_ACCOUNT_ID=""

# --- OpenID (Google) ---
API_OPENID_GOOGLE_CLIENT_ID=""
API_OPENID_GOOGLE_CLIENT_SECRET=""

# --- Emails that become admins at registration, delimited by semicolon ---
API_DEFAULT_ADMIN_EMAILS=""
